smartup.su_apps li{
	display: block;
	float: left;
}
smartup.su_apps#su_apps_rss .su_rss_box{
	width: 475px;
	min-height: 240px;
	text-align: left;
	padding-top: 54px !important;
}
smartup.su_apps#su_apps_rss .su_rss_box li{
	height: 25px !important;
	line-height: 25px !important;
	border: 1px solid #ccf;
	border-radius: 2px;
	padding: 5px 10px !important;
	margin: 2px 0;
	list-style-type: decimal;
	text-decoration: none;
	margin: 1px 20px 0 0;
	width: 450px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition:all .4s ease-in-out;
}
smartup.su_apps#su_apps_rss li:hover{
	text-decoration: none;
	background: #FF6600;
	color: #fff;
	cursor: pointer;
}
smartup.su_apps#su_apps_rss .su_rss_head{
	position: absolute;
	width: 475px;
	background: rgba(255,255,255,.9);
	text-align: left;
	margin-top: -20px;
	padding-top: 2px;
}
smartup.su_apps#su_apps_rss .su_rss_head a{
	font-size: 22px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 54px;
	display: block;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
smartup.su_apps#su_apps_rss .su_rss_head a:visited{
	color: blue;
}
smartup.su_apps#su_apps_rss .su_rss_rsshead{
	width: 430px;
	display: inline-block;
}
smartup.su_apps#su_apps_rss .su_rss_rsshead img{
	float: left;
	/*max-width: 120px;*/
	border-radius: 100%;
	border:1px solid #ccf;
	padding: 2px;
	height: 48px;
}
smartup.su_apps#su_apps_rss .su_rss_menu{
	position: absolute;
	top: 0;
	left: -10px;
	width: 280px;
	overflow: hidden;
	display: none;
	opacity: 0;
	margin-left: 10px;
	background: #ffc;
	box-shadow: 1px 2px 10px #FD6805;
	overflow-y:auto;
	height: 100%;
}
smartup.su_apps#su_apps_rss .su_rss_menu_head{
	padding: 0;
	margin: 0;
	text-align: left;
	box-shadow: 0 0 2px #F47409;
	margin-bottom: 10px;
	padding: 10px 0;
	text-align: center;
}
smartup.su_apps#su_apps_rss .su_rss_menu_sub{
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
	/*padding-left: 10px;*/
}
smartup.su_apps#su_apps_rss .su_rss_menu_sub input[type=text]{
	width: 120px;
}
smartup.su_apps#su_apps_rss .su_rss_menu_sub input[type=button]{
	
}
smartup.su_apps#su_apps_rss .su_rss_menu_list{
	padding: 0;
}
smartup.su_apps#su_apps_rss .su_rss_menu_list li{
	width: 100%;
	text-align: left;
	height: 25px;
	line-height: 25px;
	padding: 3px 10px;
	list-style-type: decimal;
	text-decoration: none;
	margin: 1px 20px 0 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition:all .4s ease-in-out;
}
smartup.su_apps#su_apps_rss .su_rss_lidel{
	opacity: 0;
	background: rgba(0,0,0,.8);
	transition:all .4s ease-in-out;

	position: absolute;
	float: right;
	display: inline-block;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	padding: 2px;
	line-height: 15px;
	right: 5px;
	text-align: center;
	opacity: 0;
	z-index: -1;
	margin-top: -30px;
}
smartup.su_apps#su_apps_rss .su_rss_lidel:hover{
	background: red;
}
smartup.su_apps#su_apps_rss .su_rss_menuli:hover .su_rss_lidel{
	margin-top: 2px;
	opacity: .95;
	z-index: 1;
}
