[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=text/x-eiffel;
Exec=env WINEPREFIX="/home/lichking/.deepinwine/qqintl" wine start /ProgIDOpen EMOTION.File %f
NoDisplay=true
StartupNotify=true
